<%= form_for @comment, :url => candidate_comments_path(@candidate.id) do |f|  %>
  <div class="field">
    <%= f.text_area :body, :size => '40x5' %>
  </div>

  <%=f.hidden_field :user_id%>

  <div class="actions">
    <%= f.submit "Add private comment", :name => 'private_comment'%>
  </div>
  
  
<% end %>
