/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body {
    font-family: verdana, arial, helvetica, sans-serif;
 background-color: #482; 
 
}
b {
    color: black;
 text-decoration: none;
}
.site{
    
  width: 960px;
  margin: 10px auto;
  background-color: white;
  padding: 10px;
  color: #000;
}
.header{
  text-align: center;    
}
.footer{
    text-align: center;
}
.main{
    min-height: 50px;
    text-transform: lowercase;
    text-decoration: none;
    background-image: url('jarblack4.jpeg');
    color: #FFF;
}
 .content-wrapper {
  margin: 5px;
  padding: 5px;
  text-transform: none;
  font-size: 80%;
  font-weight: bold;
  background-color: #9B7;
  color: #000;
  min-height: 25px;
  width:600px;
  }
.content
{
    min-height: 460px;
    width :80%;
    background-image: url('jarblack4.jpeg');
    color: #000;
}

